﻿html 
{
	background-color:Gray;
}
html, body
{
	font-family: Calibri;
	height: 98%;
}
body 
{
	display:table;
	margin: 10px auto;
    border: 1px solid darkblue;
	background-color:White;
	text-align: center;
}
.style1
{
    width: 100%;
}
#sitemap 
{
	border-bottom: 1px solid darkblue;
	border-top: 1px solid darkblue;
	padding: 3px;
	background:#3A4F63;
	color:White;
}
#content 
{
	padding:3px;
}
.header
{
	text-align: center;
    position: relative;
    padding: 3px;
    background: #4b6c9e;
    top: 0px;
	left: 0px;
}
.container
{
    width: 900px;
    margin: 0 auto;
    position: relative;
	min-height: 98%;
}
.style4
{
    float: right;
    margin-top: 5px;
}
.footer 
{
    bottom: 2px;
    height: 40px;
    left: 0;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
}
#mnuNav
{
    padding-left: 10px;
}